.main-info-grid {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  margin: 2em;
}
.main-info-grid label,.main-info-grid span {
  margin:auto;
}

  /* sm */
@media screen and (max-width: 40em) {
  .main-info-grid {
    grid-template-columns: 30% 70%;
  }
  .main-info-grid h1 {
    grid-area: 1/1/1/3;
  }
  .main-info-grid h2 {
    grid-area: 6/1/6/3;
  }
  .main-info-grid p {
    grid-area: 7/1/7/3;
  }
  .main-info-grid label {
    grid-column: 1;
  }
  .main-info-grid span, .main-info-grid .genres-buttons {
    grid-column: 2;
  }
  .movie-poster {
    grid-area: 8/1/8/3;
  }
}

/* md */
@media screen and (min-width: 40.063em) 
{
  .main-info-grid {
    grid-template-columns: 30% 70%;
  }
  .main-info-grid h2 {
    grid-area: 1/1/1/3;
  }
  .main-info-grid h3 {
    grid-area: 6/1/6/3;
  }
  .main-info-grid p {
    grid-area: 7/1/7/3;
  }
  .main-info-grid label {
    grid-column: 1;
  }
  .main-info-grid span, .main-info-grid .genres-buttons {
    grid-column: 2;
  }
  .movie-poster {
    grid-area: 8/1/8/3;
  }
}

/* lg */
@media screen and (min-width: 64.063em) 
{
  .main-info-grid {
    font-size: 1.6em;
    grid-template-columns: 30%  30% 40%;
  }
  .main-info-grid h1 {
    grid-area: 1/2/1/4;
  }
  .main-info-grid label {
    grid-column: 2;
  }
  .main-info-grid span, .main-info-grid .genres-buttons {
    grid-column: 3;
  }

  .main-info-grid h2 {
    grid-area: 6/2/6/4;
  }
  .main-info-grid p {
    grid-area: 7/2/7/4;
  }
 
  .movie-poster {
    grid-area: 1/1/8/1;
  }
}

/* xl */
@media screen and (min-width: 90.063em) 
{
  .main-info-grid {
    grid-template-columns: 30%  30% 40%;
    align-items: center;
  }
  .main-info-grid h2 {
    grid-area: 2/1/2/4;
  }
  .main-info-grid label {
    grid-column: 2;
  }
  .main-info-grid span, .main-info-grid .genres-buttons {
    grid-column: 3;
  }

  .main-info-grid h3 {
    grid-area: 6/1/6/3;
  }
  .main-info-grid p {
    grid-area: 7/1/7/3;
  }
 
  .movie-poster {
    grid-area: 1/1/3/4;
  }
}

.main-info-grid .genres-buttons button {
  box-shadow: -4px 4px 0 var(--theme-black-color);
  background-color: var(--theme-3-color);
  margin: 0.2em;
  border-radius: 0.5em;
}