<table *ngIf="movieDetals else loading">
  <tr>
    <td>
      <img  [src]="poster_url_prefix + movieDetals.poster_path" alt="Movie Poster">
    </td>
    <td style="vertical-align: baseline;">
      <h2>
        <strong>{{movieDetals.title}}</strong>({{movieDetals.release_date|date:'yyyy'}})
      </h2>
      <table>
        <tr>
          <td>Average score:</td>
          <td>{{movieDetals.vote_average}}({{movieDetals.vote_count}})</td>
        </tr>
        <tr>
          <td>Categories:</td>
          <td>
              <button *ngFor="let genre of movieDetals.genres" routerLink="/category/{{genre.id}}" >{{genre.name}}</button>
          </td>
        </tr>
      </table>
      <h4>Overview</h4>
      <p style="width:60%">
      {{movieDetals.overview}}
      </p>
    </td>
  </tr>
</table>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>
