.back {
  width: 50vw;
  height: 85vh;
  text-align: center;
  font-style: oblique;
  color: #01161E;
  background-color: #598392;
  vertical-align: middle;
  position: absolute;
  min-height: 50vh;
}

.top-space {
  margin-top: 5em;
}

.score {
  border: solid;
  border-color: #AA968A;
  border-radius: 60%;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 3em;
  height: 3em;
  padding-top: 0.7em;
  font-size: 1.4em;
  box-sizing: border-box;
  background-color: #598392;
  color: #01161E;
}

div[class*=container] {
  text-align: center;
}