//TODO: REMOVE IN FUTURE AND USE GRID FROM CSS3


// New Grid CSS

$x-small-max-width: 40em;
$small-min-width: 40.063em;
$medium-min-width: 64.063em;
$large-min-width: 90.063em;

.ui-g-12 {
  width: 100%;
}

@media screen and (min-width: $small-min-width) {
  .ui-md-6 {
    width: 50%;
  }
}

@media screen and (min-width: $medium-min-width) {
  .ui-lg-4 {
    width: 33.3333%;
  }
}

@media screen and (min-width: $large-min-width) {
  .ui-xl-3 {
    width: 25%;
  }
}
