
$theme-background-color: #598392;
$theme-color--active: #ffb86f;
$theme-inactive-color: #d8cfaf;
$theme-black-color: #404040;
$theme-rating-active-color: #f4442e;
$icons-spacing-rating: .3em;

// Buttons

$button-border-color: #000;
$button-inactive-color: #ccc;

// responsive screen sizes
$breakpoint-min-width-mobile-medium: 321px;
$breakpoint-min-width-mobile-large: 376px;
$breakpoint-min-width-tablet: 426px;
$breakpoint-min-width-laptop: 769px;
$breakpoint-min-width-laptop-large: 1025px;
$breakpoint-min-width-screen-xxl: 1441px;
