//@import '../../../sass/variables';
@import '../../../../../sass/variables';

@mixin movie-card-side-mixin {
  backface-visibility: hidden;
  border-radius: 2em;
  height: 25em;
  left: 0;
  top: 0;
  width: 100%;
}

// mobile
@media screen and (max-width: 480px) {

}

@media screen and (max-width: 768px) {

}


// xl
@media screen and (min-width: 9.063em) {
  .c-movie-card {
    .c-movie-card__container {
      font-size: 2em;
    }
  }
}

.c-movie-card {
  perspective: 1000px;

  &__container {
    transform-style: preserve-3d;
    transition: .9s;
  }

  &:hover {
    .c-movie-card__container {
      transform: rotateY(180deg);
    }

    ::ng-deep .movie-card-back-side__footer__rating-bar__value-bar::before {
      opacity: 1;
      width: 100%;
    }
  }
}
