<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
<div class='flip-container'>
  <div class='flipper'>
    <img [src]="getPosterUrl()" [alt]="movie.title" class="front" />
    <div class="back">
      <h2>{{movie.title}}</h2>
      <div class="movie-info-grid">
        <label>Release:</label>
        <div class="release-grid">{{movie.release_date|date}}</div>
        <label>Votes:</label>
        <div>{{movie.vote_count}}</div>
        <label>Genres:</label>
        <div class="genre-types"><button *ngFor="let genre of movie.genre_list" routerLink="/{{genre.id}}" >{{genre.name}}</button></div>
        <span>{{movie.vote_average}}</span>
      </div>
      <p>{{movie.overview}}</p>
    
      <div class="rating-box-container">
        <div class="rating-box">
          <div class="rating" [style.width.%]="score"></div>
        </div>
        <button routerLink="/details/{{movie.id}}" class="details-button">Details</button>
      </div>
    </div>
  </div>
</div>