<div class="movie-items-container">
        <div *ngFor="let movieItem of movies" class='flip-container'>
                <div class='flipper'>
                        <img [src]="poster_url_prefix + movieItem.poster_path" [alt]="movieItem.title" class="front" />
                        <div class="back">
                                <h3>{{movieItem.title}}</h3>
                                <p>{{movieItem.release_date|date}}</p>
                                <p>{{movieItem.overview|movieDescription}}</p>
                                <a>Details</a>
                        </div>
                </div>
        </div>
</div>