.flip-container {
    perspective: 1000px;
}

.flipper {
    transition: 0.9s;
    transform-style: preserve-3d;
}

.back {
    --back-default-background-color: #598392;
    --score-icons-border-size: 0.25em;
    --progress-bar-step-color: #28464B;
    transform: rotateY(180deg);
    text-align: center;
    font-style: oblique;
    background-color: var(--back-default-background-color);
    vertical-align: middle;
    position: absolute;
    content: attr(data-value);
}

/* hide back of pane during swap */

.front, .back {
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 64vh;
}

/* entire container, keeps perspective */

/* flip the pane when hovered */

.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flip-container .all-popcorns span {
    opacity: 0;
}

.flip-container:hover .all-popcorns span {
    animation: icons-show-animation 2s linear forwards;
}


/* .flip-container:hover .all-popcorns span:nth-child(1){
    animation-delay: 3s;  
}
.flip-container:hover .all-popcorns span:nth-child(2){
    animation-delay: 5s;
}
.flip-container:hover .all-popcorns span:nth-child(3){
    animation-delay: 7s;
}
.flip-container:hover .all-popcorns span:nth-child(4){
    animation-delay: 9s;
}
.flip-container:hover .all-popcorns span:nth-child(5){
    animation-delay: 12s;
} */

@keyframes icons-show-animation {
    from 
    {
        opacity: 0;
        transform: rotateY(90deg);
    }
    to 
    {
        opacity: 1;
        transform: rotatey(0deg)
    }
}

.score-icons {
    position: absolute;
    bottom: 1em;
    right: 0;
    left: 0;
    border: var(--score-icons-border-size) solid var(--progress-bar-step-color);
    border-radius: 2vw;
    background-image: linear-gradient(45deg, var(--progress-bar-step-color) 10%, transparent 20%, var(--progress-bar-step-color) 30%, transparent 40%, var(--progress-bar-step-color) 60%, transparent 70%, var(--progress-bar-step-color) 90%);
}

.wall-popcorns {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    content: attr(title);
    z-index: 1;
    background-image: linear-gradient(45deg, var(--progress-bar-step-color) 5%, var(--back-default-background-color) 15%, var(--progress-bar-step-color) 35%, var(--back-default-background-color) 45%, var(--progress-bar-step-color) 65%, var(--back-default-background-color) 75%, var(--progress-bar-step-color) 95%);
    border: var(--score-icons-border-size) var(--score-icons-border-size) var(--score-icons-border-size);
    border-radius: 1.5vh 1vw 1vw 1.5vh;
}

.all-popcorns {
    text-align: justify;
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    padding: 0.5vw;
}

.details-button {
    width: 65%;
    height: 8vh;
    margin-bottom: 2vh;
    font-size: 2em;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.4s linear 0s;
    box-sizing: content-box;
    border-radius: 2.5vw 0;
    box-shadow: -3px 3px #404040;
    background-color: #FFB86F;
}

.details-button:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #404040;
    background-color: #BA5C12;
}

.movie-info-grid {
    display: grid;
    grid-template-columns: 30% 50% 20%;
}

.movie-info-grid label {
    text-align: right;
    font-weight: bold;
    grid-column: 1;
}

.movie-info-grid span {
    grid-area: 1/3/4/3;
    font-size: 3em;
}

.movie-info-grid .genre-types button {
    box-shadow: -4px 4px 0 #404040;
    background-color: #AA968A;
    margin: 0.2em;
    border-radius: 0.5em;
}

.release-date {
    font-size: 1.2em;
    text-align: center;
}