input#searchBoxId {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('http://moviee.surge.sh/static/media/search.8a0c8c4e.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin: 0 auto;
    display: block;
}

input#searchBoxId:focus{
    width: 80%;
}

.autocomplete {
    position: relative;
    /* display: inline-block; */
  }
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    border-radius: 30px;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 1%;
    cursor: pointer;
    border-bottom: 1px solid #d4d4d4; 
    text-align: center;
    font-size: xx-large;
    /* margin-left: 15%;
    margin-right: 15%; */
    margin: 0 15%;
    background-color: #e9e9e9; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #4dc1bc
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }