.c-movie-search {
  margin: 2em 0 2.5em;
  position: relative;

  &__input {
    background-color: #fff;
    background-image: url('~src/assets/search-icon.svg');
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 1em;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 3.5vw;
    margin: 0 auto;
    padding-left: 1.2em;
    transition: width .4s ease-in-out;
    width: 18em;

    &:focus {
      width: 70vw;
    }
  }

  &__autocomplete-items-container {
    border: 1px solid #d4d4d4;
    border-bottom: 0;
    border-radius: 30px;
    border-top: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;

    &__item {
      background-color: #e9e9e9;
      border-bottom: 1px solid #d4d4d4;
      cursor: pointer;
      font-size: 2vw;
      margin: 0 15%;
      padding: 1%;
      text-align: center;

      &--active,
      &:hover {
        background-color: #598392;
      }
    }
  }
}
