@import '~src/sass/variables';
@import '../movie-card.component';

.movie-card-back-side {
  @include movie-card-side-mixin;
  background-color: $theme-background-color;
  content: attr(data-value);
  font-style: oblique;
  position: absolute;
  text-align: center;
  transform: rotateY(180deg);
  vertical-align: middle;

  &__header {
    font-size: larger;
    font-weight: bold;
    padding: 1ch 0;
  }

  &__description {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    max-width: 100%;
    overflow: hidden;
  }

  &__footer {

    bottom: 1em;
    position: absolute;

    &__rating-bar {
      @mixin rating-bar-before {
        content: '\f008 \f008 \f008 \f008 \f008';
        display: block;
        letter-spacing: $icons-spacing-rating;
        text-align: center;
        opacity: 1;
      }

      color: $theme-inactive-color;
      display: inline-block;
      font-family: FontAwesome, serif;
      font-size: 1.8em;
      position: relative;

      &::before {
        @include rating-bar-before;
      }

      &__value-bar {
        color: $theme-rating-active-color;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;

        &::before {
          @include rating-bar-before;
          opacity: 0;
          overflow: hidden;
          transition: all 3s ease-out;
          width: 0;
        }
      }
    }

    &__details-button {
      background-color: $theme-inactive-color;
      border-radius: 2.5vw 0;
      box-shadow: -3px 3px $theme-black-color;
      box-sizing: content-box;
      font-size: 2em;
      height: 1.3em;
      left: 0;
      margin: .5ch;
      position: relative;
      top: 0;
      transition: all .4s linear 0s;
      width: 65%;

      &:hover {
        background-color: $theme-3-color;
        left: -3px;
        top: 3px;
      }
    }
  }
}
