    body{
        background: #ededed;
        --theme-background-color: #598392;
        --theme-3-color: #FFB86F;
        --theme-inactive-color: #D8CFAF;
        --theme-black-color: #404040;
        --theme-rating-active-color: #F4442E;
        --icons-spacing-rating: 0.3em;
    
    }