
<div class="genres_container">
    <div class="genres_container__genres_menu">
        <!-- Place to insert genre filters list -->
    </div>
    <div class="genres_container__ordering_switch">
        <button class="genres_container__ordering_switch__button"
                [disabled]="activeOrderFilterValue === 'release-date'"
                (click)="changeOrderFilter('release-date')">
            <i class="genres_container__ordering_switch__button__icon fa fa-calendar"></i>
        </button>
        <button class="genres_container__ordering_switch__button" 
                [disabled]="activeOrderFilterValue === 'rating-score'"
                (click)="changeOrderFilter('rating-score')">
            <i class="genres_container__ordering_switch__button__icon fa fa-star"></i>
        </button>
    </div>
</div>