<div class="genres__container">
  <div class="genres__container__genres_menu">
    <!-- Place to insert genre filters list -->
  </div>
  <div class="genres__container__ordering_switch">
    <button *ngFor="let filter of filtersViewModels"
            class="genres__container__ordering_switch__button"
            [class.genres__container__ordering_switch__button--active]="filter.isActive"
            [disabled]="filter.isActive"
            (click)="movieTypeChangedEvent.emit(filter.type)">
      {{filter.label}}
    </button>
  </div>
</div>
