.filters-container {
    display: grid;
    grid-template-columns:
        60% 40%
}


.order-by-filters > button {
    font-size: 0.7em; 
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 1em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color:#CCCCCC;
    color:#000000;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    cursor: pointer;
}



.order-by-filters > button > i { 
    font-size: 2em;
}

.order-by-filters>button:active , .order-by-filters > button:focus {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    outline: none;
}
.order-by-filters>button:disabled {
    background-color: #FFB86F;
    cursor: not-allowed;
    pointer-events: all;
}